body {
    padding: 5px;
    background-color: #52073C;
}

@font-face {
    font-family: 'Lobster Two';
    src: url(fonts/LobsterTwo-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'Lobster Two', cursive;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E060B;
    color: white;
    position: sticky;
    border-radius: 10px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.profile {
    background: #4A0639;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 15%;
    color: white;
    height: 100%;
}

.content-area {
    display: flex;
    height: 86vh;
}

hr {
    width: 200px;
}

.audio-interface {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #4A0639;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.lyrics-container {
    width: 70%;
    height: 100%;
    background-color: #4A0639;
    position: relative;
    overflow-y: auto;
}

.lyrics {
    background-color: #4A0639;
    max-height: 620px;
    text-align: left;
    color: white;
    word-wrap: break-word;
}

.lyrics-container::-webkit-scrollbar {
    width: 0px;
}

pre {
    font-family: 'Tahoma', monospace;
}

.list {
    background: #81005D;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: 100%;
    gap: 3%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 100%;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.artist-list,
.album-list,
.single-list {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 100%;
}

.artist-cards,
.album-cards,
.single-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    justify-items: center;
    width: 100%;
    border-radius: 10px;
}

.artist-info,
.album-info,
.single-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    color: white;
}

.artist-label,
.album-label,
.single-label {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: left;
    font-family: 'Lobster Two', cursive;
}

.photo-card {
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.photo-card:hover {
   
    background-color: rgba(63, 1, 71, 0.6);
}

.song-lyrics {
    background: #4A0639;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Tahoma', monospace;
    border-radius: 15px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 20%;
    color: white;
    height: 100%;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.track-name {
    text-align: center;
    font-size: 24px;
}

.track-artist {
    text-align: center;
}

.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

.slider_container {
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek_slider {
    width: 60%;
}

.current-time,
.total-duration {
    padding: 10px;
}

.seek_slider {
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.seek_slider:hover {
    opacity: 1.0;
}

.seek_slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}


.content-info{
    background: #c544a0;
    border-radius: 10px;
    margin: 0px;
    height: 100%;
    grid-row: 1;
    width: 100%;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.content-image{
    object-fit: scale-down;
    width: 25%;
    height: 70%;
    border-radius: 10px;
    margin-left: 30px;
}
.content-title{
    margin-left: 20px;
    color: white;
    font-family: 'Lobster Two', cursive;
    align-self: flex-end;
    margin-bottom: 20px;
}
.content-track{
    background: #81005D;
    border-radius: 10px;
    margin: 0px;
    grid-row: 2;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between each track */
    font-family: 'Lobster Two', cursive;
}
.track{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: #81005D;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.track:hover {
    background-color: #700044;
}

.track-number {
    width: 10%;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.track-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    width: 40%;
    margin-left: 10px;
    text-align: start;
}
.track-duration {
    width: 70%;
    font-size: 16px;
    color: #fff;
    text-align: end;
}